@model Web_01LinhKienSP.Models.TaiKhoan
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutDangNhap.cshtml";
}
<div class="w-50 mx-auto">

    @using (Html.BeginForm("DangNhap", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <div class="ui border mt-5 p-5 rounded-3">
            <h1 class="text-center text-success">Login</h1>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                @Html.LabelFor(m => m.HOTEN, "Họ và tên", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.HOTEN, new { @class = "form-control", placeholder = "Nhập họ và tên" })
                @Html.ValidationMessageFor(m => m.HOTEN, "", new { @class = "text-danger" })

            </div>
            <div>
                @Html.LabelFor(m => m.EMAIL, "Email", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.EMAIL, new { @class = "form-control", placeholder = "Nhập email" })
                @Html.ValidationMessageFor(m => m.EMAIL, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(m => m.PASSWORD, "Mật khẩu", new { @class = "form-label" })
                @Html.PasswordFor(m => m.PASSWORD, new { @class = "form-control", placeholder = "Nhập mật khẩu" })
                @Html.ValidationMessageFor(m => m.PASSWORD, "", new { @class = "text-danger" })
            </div>

            <div class="d-flex justify-content-center mt-5">
                <button class="button-creative" type="submit">Đăng Nhập</button>
            </div>

            <h5 class="text-center">or</h5>

            <div class="row d-flex justify-content-center">
                <button type="button" class="col-lg-2 bg-primary rounded-3 text-white">Facebook</button>
                <button type="button" class="col-lg-2 ms-5 bg-danger rounded-3 text-white">Google</button>
            </div>

            <div class="row row-cols-2 mt-3">
                <div class="col-lg-6">
                    <a href="/Home/QuenMatKhau">Quên mật khẩu</a>
                </div>
                <div class="col-lg-6 text-end">
                    <a href="/Home/DangKy">Đăng ký tài khoản</a>
                </div>
            </div>
        </div>
    }
</div>
